[submodule "bk_idk"]
	path = bk_idk
	url = https://github.com/bekencorp/bk_idk_voice_record.git
[submodule "projects/audio_ns_recoder"]
	path = projects/audio_ns_recoder
	url = https://github.com/bekencorp/bk_project_voice_record.git
